@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "codelatin";
    font-style: normal;
    font-display: swap;
    src: url("/publick/fonts/MPLUSCodeLatin-Regular.ttf") format(".ttf");
  }
}
