@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .animate-gradient {
    background-size: 400%;
    transition: all;
    -webkit-animation: animation 12.5s ease-in-out infinite;
    -moz-animation: animation 12.5s ease-in-out infinite;
    animation: gradient 12.5s ease-in-out infinite;
  }

  @keyframes gradient {
    0%,
    100% {
      background: #0284c7;
    }

    30% {
      background: #ff4d6a;
    }

    80% {
      background: #9333ea;
    }
  }
}
